.nav-bar{
    background-color: rgb(2, 2, 35);
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 3;
    
}
.flexer{
 display: flex;
 justify-content: space-evenly;
 color: white;
 padding: 2px;
}

.glow{
    font-family: cursive;
    text-decoration: none; 
    color: black;
}

.topic{
  font-style: oblique;
  font-size: 15px;
}
.footer{
  font-size: 12px;
  font-family: monospace;
 }
.logo2{
  width: 200px;
  top: 0px;
}
.containerr{
  background-color: rgb(2, 2, 28);
  padding: 40px;
  width: 100%;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
 
}
.email-subb{
  padding: 40px;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
  background-color: rgb(217, 104, 0);
}
.center{
  display: flex;
  justify-content: center;
}
.colour{
 background-color: rgb(2, 2, 35);
 border-radius: 20px;
}
.colourr{
  background-color: rgb(2, 2, 28);
 }
.logo{
    width: 150px;
   
}
.story{
    width: 250px;
    position: absolute;
    z-index: 2;
    bottom: 30px;
    margin-left: 50%;
}
.glow:hover {
    text-shadow: 0 0 10px #fff;
    transition: box-shadow 0.5s ease-in-out;
    text-decoration: underline;
    color: white;
  }
  body{
    height: 1000px;
  
  }
  .caro-image{
    width: 100%;
    z-index: -1;
    height: 90vh;
    filter: brightness(40%);
  }
  .caro-text1{
    position: absolute;
    color: #fff;
    font-size: 85px;
    z-index: 2;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
  }
  .caro-text2{
    position: absolute;
    color: #fff;
    font-size: 85px;
    margin-top: 40px;
    z-index: 2;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
  }
 
  .relative-carousel1{
    position: relative;
 
  }
  .relative-carousel2{
    position: relative;
  }
  .relative-carousel3{
    position: relative;
  }
  .contt{
   background-color:rgb(204, 229, 255) ; 
   padding-top: 100px;
   width: 100%;
   padding-bottom: 30px;
  }
  
  .hostels{
    display: flex;
    /* flex-wrap: wrap; */
   /* justify-content: center; */
   width: 100%;
   min-width: 400px;
   min-height: 560px;

   overflow-x: scroll;
  }
  .side{
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 80%;
    border-bottom-left-radius: 10%;
    padding-left: 100px;
    padding-top: 60px;
  }
  .side2{
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 80%;
    border-bottom-right-radius: 10%;
    padding-right: 100px;
    padding-left: 40px;
    padding-top: 70px;
  }
  .one-click{
    font-family:  'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(2, 2, 35);
  position: absolute;
    bottom: -100%;
    animation: slide-in 5s forwards;
    width: 86%;
  }
  .text-holder{
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 60px;
    height: 150px;
    margin-left: 13%;
  }
  .text-holder2{
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 20px;
    height: 150px;
    margin-right: 13%;
  }
  .content001{
   margin-top: 30px;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
  }
  .hostels::-webkit-scrollbar-thumb {
    background-color: rgb(2, 2, 35);
    width: 200px;
  }
  @keyframes slide-in {
    100% {
    bottom: 0;
    }
  }
 
  .hostels::-webkit-scrollbar {
    background-color: #f5f5f5;
  }
  .hostel-image{
    width: 350px;
    height: 100%;
    margin-bottom: 2px;
    border-radius: 20px;
  }
  
  
  .hostel-inner{
    margin-left: 10px;
    position: relative;
    width: 100%;
    height: 350px;
    top: 40px;
    border: 5px solid transparent;
    padding-bottom: 50px;
  }
 .contentshost{
  padding: 5px 10px 10px 20px;
  border-radius: 20px;
  font-family: cursive;
 
  background-color: rgb(204, 229, 255);
 } 
.hostel-absolute1{
    position: absolute;
   
   top: 0;
    /* display: flex; */
   right: 0;
   padding-left: 40px;
   font-size: 20px;
   padding-right: 20px;
   font-family: cursive;
   border-bottom-left-radius: 30px;
   color: white;
   background-color: rgb(2, 2, 35);
}
.top-r{
  font-size: 37px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  color: white;
  background-color: rgb(2, 2, 35);
 
}

.hostel-absolute2{
    position: absolute;
    background-color: rgb(217, 104, 0);
    bottom: 50px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    font-family: cursive;
    padding-right: 40px;
    border-bottom-right-radius: 30px;
}

.supported-holder1{
   width: 80%;
    position: absolute;
    z-index: 2;
    height: fit-content;
    top: 350px;
    margin-left: 10%;
    border-radius: 30px;
    background-color: rgb(2, 2, 35);
}


  @media (max-width: 768px){
    .logo{
        width: 100px;
    }
    .supported-holder{
        width: 105%;
         position: absolute;
         z-index: 2;
         height: fit-content;
         top: 350px;
         border-radius: 30px;
         background-color: rgb(217, 105, 0);
     }
     
    .caro-image{
        width: 100%;
        height: 50vh;
  }
  .caro-text1{
    position: absolute;
    color: #fff;
    font-size: 50px;
    margin-left: 60px;
    margin-right: 60px;
    z-index: 2;
    margin-top: 90px;
    
    display: block;
  }
  .hostel-{
    width: 100%;
  }
  .caro-text2{
    position: absolute;
    color: #fff;
    font-size: 50px;
    margin-left: 60px;
    margin-right: 60px;
    z-index: 2;
    margin-top: 90px;
  }
  .caro-text3{
    position: absolute;
    color: #fff;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 38px;
    z-index: 2;
    margin-top: 90px;
  }

}